.label {
    opacity: .4;
    text-align: right;
    width: 7rem;
    line-height: 1.2rem;
    margin-right: 2ch;
}

.labelled-field-wrapper {
    display: flex;
    align-items: center;
    margin: .2rem 0;
}